<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/categaryProduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="header">
            
            <div class="searchBar">
                <div class="back icon">
                    <img src="/images/back.png" alt="">
                </div>
                <input type="text" name="" id="input" placeholder="Search">
                <div class="searchIcon"></div>
                <div class="cartIcon icon">
                    <img src="/images/shopping-cart.png" alt="">
                </div>
            </div>
        </div>
        <div class="productCover">
            <% var flag = false %>
            <%product.forEach(function(val){%>
            
                <%if(val.productCategary == categary){%>
                    <% flag = true %>
                    
                    <div class="item" id=""> <!--Item start-->
                        <div class="image image1">
                            <img src="<%=val.imageUrl%>" alt="Image">
                        </div>
                        <div class="itemName"><%=val.name%></div>
                        <div class="price">
                            <div class="fakePrice">₹<%=val.fakePrice%></div>
                            <div class="realPrice">₹<%=val.realPrice%></div>
                        </div>
                        
                        <div class="off"><%=val.off%>%off</div>
                        <div class="addToCart">Add To Cart</div>
                    </div> <!--Item end-->
                   
                <%}%>
              
            <%})%>
                   <% if(flag==false){%>
                
                        <script>
                            window.location.href = "/"; // Redirect to another page if token is missing
                        </script>
                   
                    
                    <%}%>
        </div>
    </main>
    <script src="/javaScripts/categaryProduct.js"></script>
</body>
</html>