<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="footer">
            <div class="footerItem home">
                <img src="/images/home (1).png" alt="">
                <p>Home</p>
            </div>
            <div class="footerItem profile">
                <img src="/images/user (1).png" alt="">
                <p>Profile</p>
            </div>
            <div class="footerItem cart">
                <img src="/images/shopping-cart.png" alt="">
                <p>Cart</p>
            </div>
            <div class="footerItem menu">
                <img src="/images/menu.png" alt="">
                <p>Menu</p>
            </div>
            <div class="footerItem support">
                <img src="/images/customer-service.png" alt="">
                <p>Support</p>
            </div>
        </div>
        <div class="page1">
            <div class="mode">
                <p>The Payprstory</p>
            </div>
            <div class="search">
                <input type="search" name="" id="" placeholder="Search">
                <div class="searchIcon"></div>
            </div>
            <div class="categary">
                <a class="categaryItem noteBook" href="/categaryProduct/Note Book">
                    <img src="/images/pngwing.com.png" alt="">
                    <p>Note Book</p>
                </a>
                <a class="categaryItem file" href="/categaryProduct/File">
                    <img src="/images/file.webp" alt="">
                    <p>File</p>
                </a>
                <a class="categaryItem pen" href="/categaryProduct/Pen">
                    <img src="/images/pen1.webp" alt="" >
                    <p>Pen</p>
                </a>
                <a class="categaryItem page" href="/categaryProduct/College Page">
                    <img src="/images/page.webp" alt="" >
                    <p>Page</p>
                </a>
            </div>
            <div class="option">
                <div class="optionSquare">
                    <div class="squareItem squareItem1">
                        <img src="/images/order-tracking.png" alt="">
                        <p>Order Status</p>
                    </div>
                    <a class="squareItem squareItem2" href="/printout">
                        <img src="/images/printer1.webp" alt="">
                        <p>Printout</p>
                    </a >
                    <div class="squareItem squareItem3">
                        <img src="/images/casino.png" alt="">
                        <p>Cash back</p>
                    </div>
                    <div class="squareItem squareItem4">
                        <img src="/images/coupon.png" alt="">
                        <p>Coupon</p>
                    </div> 
                </div>
                <div class="profilePicture"></div>
            </div>
            
            <div class="news1">
               
            </div>
            <div class="news2">
               <% if(user.mobileNumber=="7898488935"){%>
                    <a class="addButton" href="/addItem" >add item</a>
                    <a class="addButton" href="/removeItem" >remove item</a>
              <%  }%>
            </div>
        </div>
        <div class="page2">
            <h1 class="CategaryName">File</h1>

            <div class="itemBar">
                <%product.forEach(function(val){%>
                   <% if(val.productCategary=="File"){%>
                    <div class="item" id="<%=val._id%>"> <!--Item start-->
                        <div class="image image1">
                            <img src="<%= val.imageUrl %>" alt="Image">
                        </div>
                        <div class="itemName"><%=val.name%></div>
                        <div class="price">
                            <div class="fakePrice">₹<%=val.fakePrice%></div>
                            <div class="realPrice">₹<%=val.realPrice%></div>
                        </div>
                        
                        <div class="off"><%=val.off%>% off</div>
                        <div class="addToCart">Add To Cart</div>
                    </div> <!--Item end-->
                    <%}%>
               <% })%>
            </div>
            <h1 class="CategaryName">Note Book</h1>
            <div class="itemBar">
                
                <%product.forEach(function(val){%>
                    <% if(val.productCategary=="Note Book"){%>
                     <div class="item " id="<%=val._id%>"> <!--Item start-->
                         <div class="image image1">
                            <img src="<%= val.imageUrl %>" alt="Image">
                         </div>
                         <div class="itemName"><%=val.name%></div>
                         <div class="price">
                             <div class="fakePrice">₹<%=val.fakePrice%></div>
                             <div class="realPrice">₹<%=val.realPrice%></div>
                         </div>
                         <div class="off"><%=val.off%>% off</div>
                         <div class="addToCart">Add To Cart</div>
                     </div> <!--Item end-->
                     <%}%>
                <% })%>
    
            </div>
            <h1 class="CategaryName">College Page</h1>
            <div class="itemBar">
                <%product.forEach(function(val){%>
                    <% if(val.productCategary=="College Page"){%>
                     <div class="item" id="<%=val._id%>"> <!--Item start-->
                         <div class="image image1">
                            <img src="<%= val.imageUrl %>" alt="Image">
                         </div>
                         <div class="itemName"><%=val.name%></div>
                         <div class="price">
                             <div class="fakePrice">₹<%=val.fakePrice%></div>
                             <div class="realPrice">₹<%=val.realPrice%></div>
                         </div>
                         <div class="off"><%=val.off%>% off</div>
                         <div class="addToCart">Add To Cart</div>
                     </div> <!--Item end-->
                     <%}%>
                <% })%>  
            </div>
            <h1 class="CategaryName">Pen</h1>
            <div class="itemBar">
                <%product.forEach(function(val){%>
                    <% if(val.productCategary=="Pen"){%>
                     <div class="item" id="<%=val._id%>"> <!--Item start-->
                         <div class="image image1">
                            <img src="<%= val.imageUrl %>" alt="Image">
                         </div>
                         <div class="itemName"><%=val.name%></div>
                         <div class="price">
                             <div class="fakePrice">₹<%=val.fakePrice%></div>
                             <div class="realPrice">₹<%=val.realPrice%></div>
                         </div>
                         <div class="off"><%=val.off%>% off</div>
                         <div class="addToCart">Add To Cart</div>
                     </div> <!--Item end-->
                     <%}%>
                <% })%>
                
            </div> 
            <h1 class="CategaryName">Rough Page</h1>
            <div class="itemBar">
                <%product.forEach(function(val){%>
                    <% if(val.productCategary=="Rough Page"){%>
                     <div class="item" id="<%=val._id%>"> <!--Item start-->
                         <div class="image image1">
                            <img src="<%= val.imageUrl %>" alt="Image">
                         </div>
                         <div class="itemName"><%=val.name%></div>
                         <div class="price">
                             <div class="fakePrice">₹<%=val.fakePrice%></div>
                             <div class="realPrice">₹<%=val.realPrice%></div>
                         </div>
                         <div class="off"><%=val.off%>% off</div>
                         <div class="addToCart">Add To Cart</div>
                     </div> <!--Item end-->
                     <%}%>
                <% })%>
            </div> 
        </div><!--page 2 end-->
       
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/home.js"></script>
</body>
</html>